{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подключения аккаунта" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "Подключения аккаунта" %}</h1>

    {% if form.accounts %}
    <p>{% blocktrans %}Вы можете войти в свою учетную запись, используя любую из следующих сторонних учетных записей:{% endblocktrans %}</p>


    <form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}

    <fieldset>
    {% if form.non_field_errors %}
    <div id="errorMsg">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for base_account in form.accounts %}
    {% with base_account.get_provider_account as account %}
    <div>
    <label for="id_account_{{ base_account.id }}">
    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
    <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
    -> {{ account }}
    </label>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="my-2">
    <button class="btn btn-dark" type="submit">{% trans 'Удалить' %}</button>
    </div>

    </fieldset>

    </form>

    {% else %}
    <p>{% trans 'В настоящее время у вас нет учетных записей социальных сетей, связанных с этой учетной записью.' %}</p>
    {% endif %}

    <hr>
    <h3>{% trans 'Добавить сторонний аккаунт' %}</h3>

    <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
</div>
{% endblock %}