
{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load crispy_forms_filters %}

{% block head_title %}{% trans "Зарегистрироваться" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "Зарегистрироваться" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы собираетесь использовать свой {{provider_name}} учетная запись для входа в
{{site_name}}. В качестве последнего шага заполните следующую форму:{% endblocktrans %}</p>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid">
                <button class="btn btn-dark mt-2" type="submit">{% trans "Зарегистрироваться" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}