{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Выход" %}{% endblock %}

{% block content %}
<div class="text-center">
<h1>{% trans "Выход" %}</h1>

<p>{% trans 'Вы уверены, что хотите выйти?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-dark" type="submit">{% trans 'Выход' %}</button>
</form>

</div>
{% endblock %}