{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Зарегистрироваться" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "Зарегистрироваться" %}</h1>

    <p>{% blocktrans %}У вас уже есть аккаунт? Тогда пожалуйста <a href="{{ login_url }}">войти</a>.{% endblocktrans %}</p>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid mt-3">
            <button class="btn btn-dark" type="submit">{% trans "Зарегистрироваться" %}</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}