{% extends 'account/base.html' %}

{% block content %}
    <div class="text-center">
        <h2>Главная страница</h2>
        <p>Привет {{ user.first_name }}!</p>
        <p>Ваш логин : {{ user }}</p>
        <a class="btn btn-dark" href="{% url 'socialaccount_connections' %}">Настройки</a>
    </div>
{% endblock %}